INFURA_KEY = "87ee5ad8c54f49b198284628065c1b88"
INFURA_GOERLI_API_URL="https://goerli.infura.io/v3/"
INFURA_MAINNET_API_URL="https://mainnet.infura.io/v3/"

ALCHEMY_KEY = "TVjzdZMq_BpykmVJKk108tUSy-r15luF"
ALCHEMY_GOERLI_API_URL="https://eth-goerli.g.alchemy.com/v2/"
ALCHEMY_MAINNET_API_URL="https://eth-mainnet.g.alchemy.com/v2/"

METAMASK_1_ADDRESS = "0x9DA2A441b6042B2Af7aB2D6E86c23c8c61Fd4547"
METAMASK_1_PRIVATE_KEY = "5264c076647a323140c394f8b545bed424a008747f309e1e9a5a0ef187da86c0"
METAMASK_2_ADDRESS = ""
METAMASK_2_PRIVATE_KEY = ""

ETHERSCAN_KEY = ETHERSCAN_KEY = "3WEFUWKI86XRV463ZQQ6VR9Z1XQG264AD8"